*~
.DS_Store
Thumbs.db
.git
.svn
*.dist

build.xml
sync.exclude
*.properties

_dev/
application/configs/application.ini
application/data/cache/*
application/data/indexes/*
application/data/logs/*
application/data/session/*
application/data/tmp/*
httpdocs/.htaccess
httpdocs/robots.txt
httpdocs/UserFiles/*
